
<div class="col-md-12">
    <div class="jumbotron text-center">
        <p>Formulaire de contact</p>
        {% if parameters.selectable_destinataire %}
            <div class="col-md-12 text-left">
            <strong>Destinataires sélectionnables :</strong>
            <ul>
                {% for choix in parameters.choix_destinataire %}
                    <li><strong>{{choix.label}}</strong> : {{choix.emails}}</li>
                {% endfor %}
            </ul>
            </div>
        {% else %}
            <span class="text-muted">Destinataire{{(parameters.destinataire_simple|length) > 1 ? 's' : '' }} : {{parameters.destinataire_simple|join('; ')}}</span>
        {% endif %}
    </div>
</div>