
<div class="col-md-12">
    <div class="jumbotron text-center">
        <p>Contact form</p>
        {% if parameters.selectable_recipient %}
            <div class="col-md-12 text-left">
            <strong>Selectable recipients :</strong>
            <ul>
                {% for choice in parameters.recipient_choice %}
                    <li><strong>{{choice.label}}</strong> : {{choice.emails}}</li>
                {% endfor %}
            </ul>
            </div>
        {% else %}
            <span class="text-muted">Recipent{{(parameters.simple_recipient|length) > 1 ? 's' : '' }} : {{parameters.simple_recipient|join('; ')}}</span>
        {% endif %}
    </div>
</div>